/*
#E6EEEF - faint green, background blocks
#D6E0E1 - second, darker background
#347879 - bold hilite backgrounds,titles.
black - text.
#054345 - a
#660000 - a:hover


*/
.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

a:link, a:visited {
    color: #054345;
  /*  font-weight: bold;
    text-decoration: none;*/
}
a:hover {
    color: #660000;
  /*  font-weight: bold;
    text-decoration: none;*/
}
a.main {
	font-weight:bold
	}
  a.res { 
  	color: #2584a7; 
  }
  a.vos { 
  	color: #2584a7;
   }

/** Formatted Resource Display */
.resourceDetail {
	margin: 0px;
	padding:5px;
	max-width:800px; /** magic that stops it bleading too far */
	}

.resourceDetail h1 {
	font-size: 150%;
	font-weight: bold;
	margin-bottom:5px;
}

.resourceDetail h1, .resourceDetail h2, .resourceDetail h3{
	color:#347879;
	}

.resourceDetail .content , .resourceDetail .capability, .resourceDetail .ads{
	padding:5px;
	background:#E6EEEF;
	border: 1px solid gray;
	margin-bottom: 5px;
	}

.resourceDetail .content p {
	margin-bottom: 3px;
	}

.cap-title {
	font-weight:bold;
	margin-bottom:2px;
	}

.resourceDetail .content , .resourceDetail .vitals, .resourceDetail .capabilities, .resourceDetail .curation, .resourceDetail .relationships {
	  margin-top: 5px;
	}


/** labels and fields */
.label { 
	color: #347879;
	font-style: normal;
	white-space: nowrap;
	}
/** default inline display of fields */
.field {
	padding-right:15px;
	}
	
/** make fields in a 'block' display as blocks, not inline (the default */
.resourceDetail .block .field {
	display:block;
	padding-right:0px;
	}
	
.resourceDetail address {
	font-style: italic;
	display:inline;
}

.resourceDetail .helplink {
/*	text-decoration:underline;*/
	border-bottom: 1px dashed;
	}
	
/** stuff for search forms */
.search fieldset{
	border-top: 1px solid grey; 
	border-left: 1px solid grey;
	/*padding: 5px*/;
	padding-left:5px;
	margin-left:5px;
	margin-right:5px;
	}
.search legend {
	color:gray;
	font-style: italic;
	white-space: nowrap;
	}
.search input.text { /* can be more specific - input.RA - but make them all small for now */ 
	width:100px;
}

.search .formfield {
	padding:5px;
	display:block;
	white-space:nowrap;
	}
.search .formfield label {
	float:left;
	display:block;
	margin-right:5px;
	width:50px;
	text-align:right;
}
/* display ra and dec on the sameline 
.cone span.RA, .cone span.DEC {
	display:inline;
	}*/
	
/* two columns for a capability */
.capability .left{
	float:left;
	width: 250px;
	padding:1px
}

.capability .right {
	margin-left: 260px;
	}

/* downloads */
ul.download {
	display:inline;
	margin-left:10px;
}

ul.download li {
	display: inline;
	list-style: none;
	padding-right: 10px;
	white-space:nowrap;
	}

/** bibliographies */
.ads li{ /* applies to links and authors */
	display: inline;
	list-style: none;
	padding-right: 10px;
	}

.ads .abstract {
		display:none;
}
.ads .authors {
		display:none;
	}
.ads p {
		margin-bottom:5px;
}
	




/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
    
}

/** Top menu */

div#top-menu {
	/*background: red; */
	padding: 10px;
}

div#top-menu .login {
	text-align:right;
	}
	
div#top-menu .admin {
	position: absolute;
	top : 0px;
	left: 250px;
	}
	

