/*
#E6EEEF - faint green, background blocks
#D6E0E1 - second, darker background
#347879 - bold hilite backgrounds,titles.
black - text.
#054345 - a
#660000 - a:hover


*/
.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}
/** underline urls, turn color on hover.*/
/*
a:link, a:visited {
    color: #054345;
}
a:hover {
    color: #660000;
}*/

/** don't underline urls, apart from on hover. */
a:link, a:visited {
    color: #054345;
		text-decoration:none;
	}
	
a:hover {
		    color: #660000;
		    text-decoration:underline;
	}


a.main {
	font-weight:bold
	}
  a.res { 
  	color: #2584a7; 
  }
  a.vos { 
  	color: #2584a7;
   }

/** Formatted Resource Display */
.resourceDetail {
	margin: 0px;
	padding:5px;
	max-width:800px; /** magic that stops it bleeding too far */
	}

.resourceDetail h1, .tableMetadata h1 {
	font-size: 150%;
	font-weight: bold;
	margin-bottom:5px;
}

.resourceDetail h1, .resourceDetail h2, .resourceDetail h3, .tableMetadata h1{
	color:#347879;
	}

.resourceDetail .content , .resourceDetail .capability, .resourceDetail .ads, .tableMetadata .description{
	padding:5px;
	background:#E6EEEF;
/*	border: 1px solid gray;*/
	margin-bottom: 5px;
	}

.resourceDetail .content p {
	margin-bottom: 3px;
/* due to haphazard nature of text, this doesn't look good
		text-indent:10px;*/
	}

.cap-title {
/*	font-weight:bold;*/
	font-size:larger;
	margin-bottom:2px;
	}

.resourceDetail .content , .resourceDetail .vitals, .resourceDetail .capabilities, .resourceDetail .curation, .resourceDetail .relationships {
	  margin-top: 5px;
	}

/** limit the size of these */
img.resource-logo {
	/*	max-height:150px;*/
		max-width:186px;
		margin-top:10px;
		display:block;
	/*	margin-left:auto;
		margin-right:auto; centers it*/
	}

/** labels and fields */
.label { 
	color: #347879;
	font-style: normal;
	white-space: nowrap;
	}
/** default inline display of fields */
.field {
	padding-right:15px;
	}
	
/** make fields in a 'block' display as blocks, not inline (the default */
.resourceDetail .block .field {
	display:block;
	padding-right:0px;
	}
	
.resourceDetail address {
	font-style: italic;
	display:inline;
}

.resourceDetail .helplink {
/*	text-decoration:underline;*/
	border-bottom: 1px dashed;
	}
	
/** stuff for search forms */
.search fieldset, .tableMetadata fieldset{
	/*
	border-top: 1px solid grey; */
	border-left: 1px solid grey;
	padding-left:4px;
	padding-bottom:4px;
	}
	
.tableMetadata fieldset {
		padding:5px;
	}

.search input.RA, .search input.DEC, .search input.SR , .search input.SIZE{
	width:100px;
}

.search .formfield {
	padding:4px;
	display:block;
	white-space:nowrap;
	}
.search .formfield label {
	float:left;
	display:block;
	margin-right:5px;
	width:70px;
	text-align:right;
}

.search input[type="radio"] {
              margin-right:5px;
}

/* make the action buttons appear as a row */
.search ul {
	padding:2px;
	}
.search li {
	display:inline;
	margin-right:10px;
	}
	
/** customization of datepicker within stap form */
.formfield .datePicker {
	display:inline;
	}
	
.formfield .datefield {
		display:inline;
		padding:0px;
		top:0px;
	}
	
.formfield .datefield input {
	width:120px;
	}
	
.formfield .datefield input, .formfield .datefield button {
	vertical-align:inherit;
	}

/** styling to make tabbed-view within a search form belnd in better */
#resourceDetail .yui-navset div.yui-content {
	background-color:transparent;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
	border-left:none;
	border-bottom:none;
	border-right:none;
	}
	
#resourceDetail .yui-navset .yui-nav {
	border-color:#347879;
/*	padding:0px;*/
	}
#resourceDetail .yui-navset .yui-nav .selected a {
	background-color:#347879;
	background-image:none;	
	}

/* downloads */
ul.download {
	display:inline;
	margin-left:5px;
}

ul.download li {
	display: inline;
	list-style: none;
	padding-right: 10px;
	white-space:nowrap;
	}

/** bibliographies */
.ads li{ /* applies to links */
	display: inline;
	list-style: none;
	padding-right: 10px;
	}

.ads .field {
	display:block;
	margin-bottom: 5px;
	}
.ads .abstract {
		text-indent:20px;
}
.ads ul {
		margin-bottom:10px;
}
	
/**SAMP div */
#SAMP {
	width:130px;
	float:right;
	margin-left:10px;
	padding-left:4px;
	padding-bottom:4x;
	border-left:1px solid gray;
	}

#SAMP img {
	padding-right:2px;
	float:left;
}
#SAMP a {
	display:block;
}

/** samp buttons: invisible to start with
shown once samp connects.
 */
.samp {
	display:none;
	}
#CONNECTED {
	display:none;
	}
#CONNECTING {
	display:none;
}
#NOTCONNECTED {
	display:block;
}



/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
    
}

/** Top menu */

div#top-menu {
	/*background: red; */
	padding: 10px;
}

div#top-menu .login {
	text-align:right;
	}
	
div#top-menu .admin {
	position: absolute;
	top : 20px;
	left: 250px;
	}
	
/** left menu */
.container {
	margin-bottom:10px;
	}
 .head, legend {
	font-size:larger;
	color:#347879;
	white-space: nowrap;
	}
.container li {
	margin-left:4px;
	margin-top:3px;
}
/*it's all links, so keep the color the same */
.container a {
		color:#347879;
	}

	


