
.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}



a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
  /*  text-decoration: none;*/
}

  a.res { 
  	color: #2584a7; 
  }
  a.vos { 
  	color: #2584a7;
   }

/** Formatted Resource Display */
.resourceDetail {
	margin: 0px;
	padding:5px;
	}

.resourceDetail h1 {
	font-size: 150%;
	font-weight: bold;
	margin-bottom:5px;
}

.resourceDetail .content {
	padding:5px;
	background:#EEEEEE;
	}

.resourceDetail .content p {
	margin-bottom: 3px;
	}
	
.resourceDetail .capability {
	padding:5px;
	/*border:1px solid #666633; */
	margin-top:5px;
		background:#EEEEEE;
	}

.cap-title {
	font-weight:bold;
	margin-bottom:2px;
	}

.resourceDetail .content , .resourceDetail .vitals, .resourceDetail .capabilities, .resourceDetail .curation, .resourceDetail .relationships {
	  margin-top: 5px;
	}

/** labels and fields */
.label { 
	color: #666633; 
	font-style: normal;
	white-space: nowrap;
	}
/** default inline display of fields */
.field {
	padding-right:15px;
	}
	
/** make fields in a 'block' display as blocks, not inline (the default */
.resourceDetail .block .field {
	display:block;
	padding-right:0px;
	}
	
.resourceDetail address {
	font-style: italic;
	display:inline;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
    
}

/** Top menu */

div#top-menu {
	/*background: red; */
	padding: 10px;
}

div#top-menu .login {
	text-align:right;
	}
	
div#top-menu .admin {
	position: absolute;
	top : 0px;
	left: 250px;
	}
